hr {
  width: 85%;
  margin: auto;
  /* height: 2px; */
}

button {
  border: none;
  margin: 1px;
}
button:hover {
  cursor: pointer;
}
input:disabled {
  margin: auto 2px;
  border: none;
}
small {
  font-size: 5px;
  font-style: italic;
}
#root {
  font-family: 'Varela Round', sans-serif;
  background-image: url('./assets/add_transaction_background_img_sm.jpg');
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: whitesmoke;
  border-collapse: inherit;
  box-sizing: border-box;
  border-top: solid .1px white;
}
/* 
=================================================================
======================== HEADER COMPONENT =======================
=================================================================
 */

.add-transactions-component {
  /* background-color: rgb(226, 226, 226); */
  width: 90vw;
  font-size: 35px;
  padding: 5px;
  margin: auto;
}

.header {
  width: 90%;
  margin: auto;
}

.header > * {
  display: inline-block;
}

.header div h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 35px;
  letter-spacing: -3px;
  font-weight: bold;
  color: #0973B3;
  text-shadow: 2px 2px black;
}
.header div {
  margin-left: 5px;
}
.header button:hover {
  transform: scale(1.02);
}
.logout-button > * {
  color: #0973B3;
  font-size: 33px;
  font-weight: bold;
}
.logout-button {
  float: right;
  border-radius: 5px;
  background-color: white;
  border: #0973B3 2px solid;
}
.dashboard-button {
  color: white;
  font-weight: bold;
  font-size: 30px !important;
  border-radius: 5px;
  background-color: #0973B3;
}
.header button {
  font-size: 15px;
  margin-top: 10px;
}
/* 
=================================================================
====================== LOGIN COMPONENT ==========================
=================================================================
 */

.login-component {
  width: 100vw;
}
 
.login-component h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: bold;
  text-shadow: 2px 2px #0973B3;
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: #5AE500;
  z-index: 2;
}

.hero-panel {
  height: 100vh;
}

.welcome-container {
  position: relative;
  top: 18vh;
}

.welcome-container h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  text-shadow: 2px 2px #2AD705;
}

.color-strip-container {
  display: flex;
  height: 5px;
  margin-bottom: 5px;
}
.color-strip-container > * {
  flex: 1;
}
.color-strip-container > :nth-child(1) {
  background-color: #0973B3;
  border-top-left-radius: 5px;
}
.color-strip-container > :nth-child(2) {
  background-color: #2AD705;
}
.color-strip-container > :nth-child(3) {
  background-color: #FFF400;
}
.color-strip-container > :nth-child(4) {
  background-color: #0DA5FF;
  border-top-right-radius: 5px;
}
.login-button-container {
  display: flex;
  flex-direction: column;
  height: 160px;
  text-align: center;
  background-color: rgba(223, 223, 223, 0.322);
  border-radius: 5px;
  width: 200px;
  position: absolute;
  top: 30vh;
  left: 50%;
  margin-left: -100px;
  box-shadow: 5px 7px 15px 0px rgba(0,0,0,0.25);
  transform: scale(1.30);
  z-index: 1;
}
.login-blur-box {
  height: 200px;
  border-radius: 2px;
  width: 250px;
  position: absolute;
  top: 28vh;
  left: 50%;
  margin-left: -125px;
  filter: blur(2px);
  background-image: url('./assets/add_transaction_background_img_sm.jpg');
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
.login-button-container button {
  height: 40px;
  width: 70%;
  margin: 20px auto 0 auto;
  background-color: #0973B3;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 40px;
}
.login-button-container button:hover {
  cursor: pointer;
  background-color: rgb(47, 138, 190);
}

.login-button-container .login-container-message {
  color: #0973B3;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 0 10px;
}

.panel {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.panel-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.panel-content h2 {
  font-size: 30px;
}
.panel-content h3 {
  font-size: 15px;
  font-weight: bold;
}
.panel-content li {
  margin: 5px;
}
.panel-content aside {
  font-size: 10px;
  font-style: italic;
}
.panel-main-info {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.panel-main-info > * {
  margin: 10px 10px 10px 0;
}
.panel-content{

}
 
#panel-1 {
  background-color: rgba(13, 166, 255, 0.8);
  color: white;
}
#panel-1 h2 { text-shadow: 2px 2px black; }
#panel-2 h2 { text-shadow: 2px 2px white; }
#panel-3 h2 { text-shadow: 2px 2px black; }
#panel-4 h2 { text-shadow: 2px 2px white; }

#panel-2 {
  background-color: rgba(102, 255, 0, 0.8);
}
#panel-3 {
  background-color: rgba(255, 242, 0, 0.8);
  color: white;
}
#panel-4 {
  background-color: rgba(13, 166, 255, 0.8);
}

.panel img {
  height: 150px;
}

/* 
=================================================================
============== ADD TRANSACTIONS VIEW COMPONENT ==================
=================================================================
 */
.transaction-table-container {
  margin: auto;
}

.add-transactions-header h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.month-navigation-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.month-navigation-buttons-container button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  background-color: #0973B3;
  border-radius: 10px;
}
.month-navigation-buttons-container button:hover {
  background-color: rgba(9, 114, 179, 0.726);
  transform: scale(.95);
}
.month-navigation-buttons-container span {
  display: none;
}

.transaction-table-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #0973B3;
  font-weight: bold;
  background-color: white;
  padding: 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration-line: underline;

}

.transaction-table-header > div > * {
  margin: auto 0;
}

.transaction-table-row-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.322);
  box-shadow: 5px 10px 2px rgba(128, 128, 128, 0.685);
}

.transaction-table-daily-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 15px;
  font-weight: bold;
  margin: 1px 0;
  padding: 5px;
}

.transaction-table-daily-header-row:hover {
  transform: scale(1.02);
}

.transaction-row-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.808);
  padding: 10px;
  margin: 5px auto 10px auto;
  border-top-right-radius: 15px;
  box-shadow: 8px 4px 5px rgba(128, 128, 128, 0.541);
}

.transaction-table-row {
  display: flex;
  flex-direction: column;
}

.transaction-table-row > * {
  display: flex;
  justify-content: space-between;
}

.transaction-table-row > * > * {
  text-align: center;
  margin: 5px;
}
.transaction-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.transaction-info > div {
  padding: 2.5px;
  flex: 1;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
}
.transaction-info > div > input {
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.transaction-buttons-container {
  height: 40px;
}

.transaction-buttons-container > * {
  font-size: 15px;
}

.fa-money-bill-alt {
  font-size: 25px;
}

.transaction-table-row-header {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  text-decoration-line: underline;
  background-color: rgb(175, 229, 241);
  border-radius: 5px;
  border: 2px solid #0973B3;
}

.transaction-table-entry-row {
  display: flex;
}

.transaction-table-entry-row > * {
  width: 50px;
  font-size: 15px;
}

.transaction-table-entry-row input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.banded-true {
  background-color: #0973B3;
  color: white;
}
.banded-true:hover {
  background-color: rgb(66, 154, 209);
}
.banded-false {
  background-color: whitesmoke;
}
.banded-false:hover {
  background-color: rgb(206, 206, 206);
}

.toggle-transactions-button-show {
  display: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #2AD705;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.toggle-transactions-button-hide {
  width: 35px;
  height: 25px;
  line-height: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(220, 243, 11);
  color: white;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.row-hidden {
  display: none;
}

.transaction-row-today {
  background-color: #2AD705;
  color: white;
}

.radio-container {
  padding: 5px;
  border-radius: 5px;
}
.income-radio {
  background-color: rgb(140, 214, 124);
  font-size: 15px;
}

.expense-radio {
  background-color: #FF3B3F;
  font-size: 15px;
}

.transaction-table-daily-header-row {
  font-size: 15px;
  border-bottom: 1px solid black;
}

.transaction-table-name-column {
  display: none;
  width: 80px;
}

.transaction-table-week-day-column {
  width: 40px;
}

.transaction-table-amount-column {
  width: 90px;
  text-align: right;
}

.transaction-table-date-column {
  text-align: center;
}

.transaction-table-balance-column {
  text-align: center;
}

/* 
=================================================================
====================== DASHBOARD COMPONENT ==================
=================================================================
 */
.dashboard-component {
  min-height: 100vh;
}
.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.nav-buttons-container button {
  color: white;
  font-size: 15px;
  background-color: #0973B3;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  margin: 5px 0;
}
.current-financial-summary {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  border: 3px solid #0973B3;
  border-radius: 10px;
  background-color: white;
}
.current-financial-summary > * {
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
.upcoming-bills-container {
  display: flex;
  flex-direction: column;
}
.current-financial-summary label {
  text-decoration-line: underline;
  color: #0973B3;
  font-size: 17px;
}  
.upcoming-bills-container > .row {
  display: flex;
  flex-direction: row;
  margin: 3px;
}
.upcoming-bills-header {
  display: flex;
}
.upcoming-bills-header > div {
  flex: 1;
  font-size: 15px;
  color: #0973B3;
  font-style: oblique;
  margin: 2px;
}
.upcoming-bills-container > .even-row > * {
  background-color: rgba(202, 235, 242, 0.842);
}

.upcoming-bills-container > .row > div {
  margin: 0 2px;
}
.upcoming-bills-container > .row > .name {
  flex: 1;
  overflow: hidden;
}
.upcoming-bills-container > .row > .amount {
  flex: 1;
  overflow: hidden;
}
.upcoming-bills-container > .row > .date {
  flex: 1;
  overflow: hidden;
}

.financial-status-container .status {
  font-size: 15px;
  margin-left: 10px;
}
.financial-status-container .status-bad {
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.15);
  border-radius: 5px;
  padding: 5px;
}
.financial-status-container .status-good {
  color: green;
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.15);
  border-radius: 5px;
  padding: 5px;
}
.chart-container {
  background-color: white;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  border: 3px solid #0973B3;
}
.chart-criteria-container {
  display: flex;
  width: 90%;
  margin: auto;
}
.chart-criteria-container > * {
  margin: 10px 10px 5px 10px;
}
.chart-criteria-container select {
  border-radius: 5px;
  padding: 5px;
  color: #0973B3;
  font-weight: bold;
  border: 2px solid #0973B3;
}
/* 
=================================================================
====================== CREATE BUDGET COMPONENT ==================
=================================================================
 */

.create-budget-component {
  width: 100vw;
}

.create-budget-component h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}

.create-budget-component h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.entry-container {
  width: 90%;
  margin: 10px auto;
  background-color: rgba(202, 235, 242, 0.842);
  border: solid 5px #0973B3;
  border-top-right-radius: 20px;
  box-shadow: 8px 4px 5px rgba(128, 128, 128, 0.548);
}

.entry-container select {
  font-size: 15px;
  font-weight: bold; 
  overflow: hidden;
}

.entry-container > * {
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;
}

.entry-container > div > * {
  flex: 1;
}
.category-container > select {
  margin: 5px 0;
}
.week-days-selector {
  margin-left: 30px;
}

.summary-management-container {
  display: flex;
  flex-direction: row;
}

.summary-management-container > * {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.budget-buttons-container {
  flex: 1;
  padding-top: 10px;
}

.budget-buttons-container > * {
  font-size: 15px;
  font-weight: bold;
  background-color: #0973B3;
  color: white;
  box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.637);
  margin: 3px;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
}

.budget-buttons-container button:hover {
  font-size: 16px;
}

.list-container {
  flex: 2;
}

.budget-list {
  width: 100% !important;
}

.entry-container input {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

.entry-container select {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

.category {
  width: 200px !important;
}

.days-selector {
  display: inline-block;
}

.days-selector input {
  display: none!important;
}

.days-selector input[type=checkbox] + label {
  display: inline-block;
  /* border-radius: 50%; */
  background: #dddddd;
  height: 40px;
  width: 40px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.days-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.month-days-selector input[type=checkbox] + label {
  border-radius: 20%;
  margin-top: 6px;
}

.week-days-selector input[type=checkbox] + label {
  border-radius: 50%;
}


@media (min-width: 650px) {
  .add-transactions-component {
    /* background-color: rgb(226, 226, 226); */
    width: 70vw;
    font-size: 35px;
    padding: 5px;
    margin: auto;
  } 
  .month-navigation-buttons-container button {
    min-width: 100px;
  }
  .entry-container {
    width: 70%;
  }
  .header {
    width: 90%;
    margin: auto;
  }
  .header div h1 {
    font-size: 50px;
  }
  .header div {
    margin-left: 20px;
  }
  .header button {
    font-size: 20px;
  }
  .logout-button > * {
    font-size: 40px;
  }
  .dashboard-button {
    font-size: 40px !important;
  }
  #panel-1 > * {
    width: 40%;
    margin-left: 50px;
  }
  #panel-2 > * {
    width: 40%;
    margin: auto;
  }
  #panel-3 > * {
    width: 40%;
    margin-left: 40%;
  }
  #panel-4 > * {
    width: 40%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .add-transactions-component {
    /* background-color: rgb(226, 226, 226); */
    width: 55vw;
    font-size: 35px;
    padding: 5px;
    margin: auto;
  } 
  .transaction-table-name-column {
    display: inherit;
  }
  .month-navigation-buttons-container button {
    font-size: 20px;
  }
  .month-navigation-buttons-container span {
    display: inherit;
  }
  .entry-container {
    width: 50%;
  }
  .header {
    width: 90%;
    margin: auto;
  }
  .header div h1 {
    font-size: 50px;
  }
  .header div {
    margin-left: 60px;
  }
  .header button {
    font-size: 20px;
  }
  .logout-button {
    width: 100px;
    border-radius: 5px;
  }
  .logout-button > * {
    font-size: 40px;
  }
  .dashboard-button {
    font-size: 40px !important;
    width: 100px;
    border-radius: 5px;
  }
}